*,
*::before,
*::after{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body{
   width: 100%;
   height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: Hanken Grotesk;
    overflow-x: hidden;
    
}

.div_contain{
    
    width: 100%;
    max-width: 736px;
    height: 512px;
    display: flex;
    box-shadow: 15px 15px 80px -25px rgba(0, 0, 0, 0.15);
    border-radius: 0em 1.9em 1.9em 0em;

   
   
}

.first_div{
   
    width: 100%;
    max-width: 368px;
    height: 100%;
    padding: 2.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius:  1.9em 1.9em ;
}

.result_sets{
    font-weight: 500;
    font-size: 1.5em;
    color: hsl(241, 100%, 89%);
}
 .attain_div{
    width: 200px;
    height: 200px;
    margin-block: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 200px;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
 }
 .score_attain{
    font-size: 4.5em;
    color: hsl(0, 0%, 100%);

 }

 .score_constant{
    margin-top: -.5em;
    font-size: 1.2em;
    font-weight: 500;
    color: hsl(241, 100%, 89%);
    opacity: .6;
}

.result_text{
    margin-top: .8em;
    padding: 1em;
}

.title_txt{
    font-size: 2em;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
}

.txt_comment{
    margin-top: .8em;
    margin-inline: 1em;
    font-size: 1.1em;
    color: hsl(241, 100%, 89%);
}
.summary{
    /* border: solid 1px; */
    /* background-color:hsl(0, 0%, 100%) ; */
    
    
    width: 100%;
   
    /* margin-top: 1.5em; */
    max-width: 368px;
    /* height: fit-content; */
    padding: 2.5em;
    display: flex;
    flex-wrap: wrap;
    
}
.summary_title{
    /* border: solid 1px red; */
    width: 100%;
    margin-bottom: .2em;
    color: hsl(224, 30%, 27%);
    font-weight: 800;
}
.score_card_left{
    display: flex;
    gap: 1em;
}
.summary_reaction,
.summary_memory,
.summary_verbal,
.summary_visual{
    
    width: 100%;
    padding: 1em;
    margin-top:1.2em ;
    display: flex;
    justify-content: space-between;
    border-radius: .5em;
    font-weight: 500;
}

.summary_left_title{
    font-weight: 600;
}

.reaction{
    color: hsl(0, 100%, 67%);
}

.summary_reaction{
    background-color:hsl(0, 100%, 67%, 0.08) ;
    
}

.memory{
    color: hsl(39, 100%, 56%);
}
.summary_memory{
    background-color:hsl(39, 100%, 56%, 0.08) ;
}

.verbal{
    color: hsl(166, 100%, 37%);
}
.summary_verbal{
    background-color: hsl(166, 100%, 37%, 0.08) ;
}

.visual{
    color: hsl(234, 85%, 45%);
}
.summary_visual{
    background-color: hsl(234, 85%, 45%, 0.08);
}

.score_over{
    font-weight: 600;
}

.the_over{
    color: hsl(241, 100%, 89%) ;
}

.summary_btn{
   width: 288px;
   height: 56px;
   border: none;
   margin-top: 1.5em;
   background-color: hsl(224, 30%, 27%) ;
   color: hsl(0, 0%, 100%);
   border-radius: 56px;
   font-size: 1.1em;
   font-weight: 500;
   cursor: pointer;
}
.attribution{
    margin-top: 1em;
}

.summary_btn:hover{
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
        border-radius: 1.9em 1.9em;
    }

    @media screen and (max-width: 768px) {
        

        .div_contain{
            height: auto;
            flex-direction: column;
            box-shadow: none;
            align-items: center;
            
            
        }
        .first_div{
            padding-top: 20em;
            max-width: none;
            flex-direction: column;
            align-items: center;
        }

        .div_contain,
        .result_txt,
        .summary{
            max-width: none;
        }

        .result_txt{
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            text-align: center;
            border-radius: 0 0 1.9em;
        }
        
        .summary_btn{
            width: 100%;
        }
        .attribution{
            margin-inline: auto;
        }

        .txt_comment{
          /* border: solid; */
          margin-inline: 3em;
        }
    }

    @media screen and (max-width : 420px){
        .summary{
            padding: 1.5rem 1.5rem 3.5rem 1.5rem;
        }
        .first_div{
            padding: 2rem .5rem;
        }

        .txt_comment{
            font-size: 1rem;
        }
    }